<script type="module">
  import {
    getActiveModules,
    getAllModules,
    cr,
  } from '/scripts/license-builder/license-builder.helpers.js'

  const allModules = getAllModules()

  /**
   * Purpose: Dynamically create a link to the configured
   * license version according to the specified type.
   */
  export class ConfiguredLicenseLink extends HTMLElement {
    constructor() {
      super()
      this.root = this.attachShadow({ mode: 'open' })
      const slot = cr('slot')
      this.link = cr('a')
      this.link.appendChild(slot)
      this.root.appendChild(this.link)
      this.render = this.render.bind(this)
    }

    static get observedAttributes() {
      return ['type']
    }

    attributeChangedCallback() {
      this.render()
    }

    render() {
      const fileEnding = getFileEnding(this.getAttribute('type'))
      const modules = getActiveModules()
      // Assume it's core license
      if (modules.length === 0) {
        this.link.href = `/version/3/0/core${fileEnding}`
      } else if (modules.length === allModules.length) {
        this.link.href = `/version/3/0/full${fileEnding}`
      } else {
        this.link.href = `/version/3/0/${modules
          .join('-')
          .toLowerCase()}${fileEnding}`
      }
    }

    connectedCallback() {
      window.addEventListener('locationchange', this.render)
      this.render()
    }

    disconnectedCallback() {
      window.removeEventListener('locationchange', this.render)
    }
  }

  customElements.define('configured-license-link', ConfiguredLicenseLink)

  function getFileEnding(fileType) {
    switch (fileType) {
      case 'plaintext':
        return '.txt'
      case 'markdown':
        return '.md'
      case 'html':
        return '.html'
      default:
        throw new Error(`Unknown file type ${fileType}`)
    }
  }
</script>
