<script type="module">
  /**
   * Purpose: Avoid showing content unless specified custom elements
   * have loaded. This is to avoid showing a configured license with
   * the wrong modules showing because the user does not have JavaScript
   * activated.
   *
   * Usage example:
   *
   * <verify-custom-elements check-for="custom-element1,custom-element2">
   *  <noscript>JavaScript needs to be enabled to view the configured license.</noscript>
   *  <div style="display:none;">
   *    <!-- content -->
   *  </div>
   * </verify-custom-elements>
   */
  export class VerifyCustomElements extends HTMLElement {
    constructor() {
      super()
      this.checkIfModulesLoaded = this.checkIfModulesLoaded.bind(this)
    }

    static get observedAttributes() {
      return ['check-for']
    }

    attributeChangeCallback() {
      this.checkIfModulesLoaded()
    }

    checkIfModulesLoaded() {
      const webComponents =
        this.getAttribute('check-for')
          .split(',')
          .map((str) => str.trim()) || []
      const isAllModulesLoaded = webComponents.every((tagName) =>
        customElements.get(tagName)
      )
      const firstDiv = this.querySelector('div')
      if (!isAllModulesLoaded) {
        firstDiv.style = 'display:none;'
        return
      }
      firstDiv.style = ''
      clearInterval(this.intervalID)
      this.intervalID = undefined
    }

    connectedCallback() {
      this.intervalID = setInterval(this.checkIfModulesLoaded, 1000)
      this.checkIfModulesLoaded()
    }

    disconnectedCallback() {
      clearInterval(this.intervalID)
    }
  }

  customElements.define('verify-custom-elements', VerifyCustomElements)
</script>
