* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

// Couple of CSS tricks to ensure that in-page anchor
// tags don't move target content below the mobile-menu
// Sources:
// https://spigotdesign.com/smooth-scroll-offset-anchor-links-with-css
// https://css-tricks.com/hash-tag-links-padding/
@media (max-width: 850px) {
  :target:before {
    content: '';
    display: block;
    height: 50px;
    margin: -50px 0 0;
  }
  license-module {
    margin-top: -50px;
    padding-top: 50px;
  }
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  font-family: 'source-sans-pro', sans-serif;
  font-synthesis: none;
  min-height: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
