// license-page handles the overall layout of the build-page

.license-page {
  &__menu {
    position: relative;
    z-index: 10;
  }
  &__menu-on-mobile {
    margin-top: -100px;
    position: sticky;
    z-index: 9;
    top: 0;
    bottom: 0;
    display: block;
    background-color: var(--color-white);
  }
}

@media (min-width: 850px) {
  .license-page {
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    &__header {
      flex: 100% 1 1;
    }
    &__menu {
      flex: auto 1 1;
      width: 250px;
      order: 1;
      border: 3px solid var(--color-orange);
      background-color: var(--color-white);
      padding: 1rem;
    }
    &__menu-on-mobile {
      display: none;
    }
    &__license {
      flex: 40% 1 1;
      margin-right: 1rem;
    }
  }
  .license-builder__modules {
    overflow-y: scroll;
    max-height: 50vh;
    padding: 2rem 0;
    margin: -1rem 0;
  }
}
