/*
This component is only responsible for styling itself,
and makes no assumptions about it's width. Layout and such is 
handled by the .license-page component.
*/
.license-builder {
  margin: 1rem 0rem;

  &__title {
    margin-bottom: 2rem;
  }
  h3 {
    margin: 2rem 0;
  }
  &__module-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.license-badge {
  vertical-align: text-top;
}

.license-icon {
  display: inline-block;
  height: var(--font-size-regular);
  width: var(--font-size-regular);
  margin-right: 0.125rem;
  padding: 0.25rem 0.25rem 0.25rem 0.375rem;
  vertical-align: text-top;
  a {
    text-decoration: none !important;
  }
  &--large {
    height: var(--font-size-medium);
    width: var(--font-size-medium);
  }
  &--black {
    fill: var(--color-black);
  }
  &--orange {
    fill: var(--color-orange);
  }
}

@media (min-width: 850px) {
  .license-builder {
    position: sticky;
    top: 20px;
  }
}
