.license-builder {
  border: 3px solid var(--color-orange);
  padding: 1rem;
  margin: 1rem 0rem;
  position: sticky;
  top: -3px;
}

.license-badge {
  vertical-align: text-top;
}

.license-icon {
  display: inline-block;
  height: var(--font-size-regular);
  width: var(--font-size-regular);
  margin-right: 0.125rem;
  padding: 0.25rem 0.25rem 0.25rem 0.375rem;
  vertical-align: text-top;

  a {
    text-decoration: none !important;
  }

  &--large {
    height: var(--font-size-medium);
    width: var(--font-size-medium);
  }
  &--black {
    fill: var(--color-black);
  }
  &--orange {
    fill: var(--color-orange);
  }
}

@media (min-width: 850px) {
  .license-page {
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    &__header {
      flex: 100% 1 1;
    }
    &__menu {
      flex: auto 1 1;
      width: 250px;
      order: 1;
    }
    &__menu > * {
      height: calc(100vh + 6px);
      overflow-y: scroll;
    }
    &__license {
      flex: 40% 1 1;
      margin-right: 1rem;
    }
  }
}
