/* Variables */

:root {
  --color-primary: #462921; /* "ground" */
  --color-white: #fdf6ec; /* "soft white" */
  --color-grey: #eee; /* "light grey" */
  --color-black: #1a1a1a; /* "off black" */
  --color-orange: #d44f2c; /* "terracotta" */
  --color-orange-darker: #c33e1b; /* "terracotta darker" */
  --color-green: #bfd4cb; /* "quiet green" */

  /* Setting 62.5%, makes it easier to
  set rem units (which are relative to the
  root font-size). This let's us convert 14px = 1.4rem.
  See also: https://snook.ca/archives/html_and_css/font-size-with-rem
  */
  --font-size-base: 62.5%;
  --font-size-regular: 1.6rem;
  --font-size-xlarge: 2.6rem;
  --font-size-large: 2.2rem;
  --font-size-medium: 1.8rem;
  --font-size-small: 1.2rem;

  --font-weight-regular: 400;
  --font-weight-heavy: 700;
}
