<template id="license-badge">
  {{ $style := resources.Get "sass/license-badge.component.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  <!-- TODO: can overflow horizontally for long licenses; possible scroll-shadow or other solution? -->
  <div class="license-badge-container"></div>

  <p><strong>Badge Markdown code:</strong></p>
  <pre></pre>
</template>

<script type="module">
  import {
    getLicenseString,
    cr,
  } from '/scripts/license-builder/license-builder.helpers.mjs'

  /**
   * Purpose: This web component creates a badge that displays
   * the chosen license version for the current user.
   * It uses the current URL to determine the selected modules,
   * and updates the badge display and the embed code accordingly.
   */

  export class LicenseBadge extends HTMLElement {
    constructor() {
      super()

      const template = document.getElementById('license-badge')

      this.root = this.attachShadow({ mode: 'open' })
      this.root.appendChild(template.content.cloneNode(true))

      this.badgeContainer = this.root.querySelector('.license-badge-container')
      this.mdContainer = this.root.querySelector('pre')

      this.render = this.render.bind(this)
      this.render()
    }

    connectedCallback() {
      window.addEventListener('locationchange', this.render)
      window.addEventListener('license-module-revealed-content', this.render)
      this.render()
    }

    disconnectedCallback() {
      window.removeEventListener('locationchange', this.render)
      window.removeEventListener('license-module-revealed-content', this.render)
    }

    render() {
      const licenseStr = getLicenseString()

      // update badge
      const licenseUrl = `https:\/\/firstdonoharm.dev/version/3/0/${licenseStr}.html`

      // replace hyphens with double-hyphen, per shields.io docs
      const badgeLabel = licenseStr.replaceAll('-', '--').toUpperCase()
      const badgeUrl = `https:\/\/img.shields.io/badge/Hippocratic_License-HL3--${badgeLabel}-D44F2C`
      const embedCode = `<a href="${licenseUrl}" target="_blank"><img src="${badgeUrl}" /></a>`
      const badgeMarkdown = `[![Hippocratic License HL3-${licenseStr.toUpperCase()}](${badgeUrl})](${licenseUrl})`
      this.badgeContainer.innerHTML = embedCode
      this.mdContainer.innerHTML = badgeMarkdown
    }
  }

  customElements.define('license-badge', LicenseBadge)
</script>
</template>