<template id="mobile-menu-template">
  {{ $style := resources.Get "sass/button.component.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  <style>
    .top-bar {
      padding: 1rem;
      background-color: var(--color-white);
    }
    .menu-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: var(--color-white);
      overflow-y: scroll;
    }
    .menu-content {
      max-width: 500px;
      margin: 0 auto;
      /* 
        Add extra padding at the bottom to make it easier for users to see where the
        actual content ends.
      */
      padding: 0 1rem 12rem 1rem;
    }
  </style>
  <div class="top-bar">
    <button class="c-button" data-role="open-button">
      Configure and download license
    </button>
  </div>
  <div class="menu-overlay">
    <div class="top-bar">
      <button class="c-button" data-role="close-button">Close menu</button>
    </div>
    <div class="menu-content">
      <slot></slot>
    </div>
  </div>
</template>

<script type="module">
  import {
    lock,
    unlock,
  } from '/scripts/license-builder/tua-body-scroll-lock/dist/tua-bsl.esm.browser.min.js'
  import { cr } from '/scripts/license-builder/license-builder.helpers.js'

  export class MobileMenu extends HTMLElement {
    constructor() {
      super()
      this.menuOpen = false
      this.attachShadow({ mode: 'open' })
      const root = this.shadowRoot
      const template = document.getElementById('mobile-menu-template')
      root.appendChild(template.content.cloneNode(true))
      this.openBtn = root.querySelector('[data-role="open-button"]')
      this.closeBtn = root.querySelector('[data-role="close-button"]')
      this.menuOverlay = root.querySelector('.menu-overlay')
      this.openBtnHandler = this.openBtnHandler.bind(this)
      this.closeBtnHandler = this.closeBtnHandler.bind(this)
      this.render = this.render.bind(this)
    }

    openBtnHandler() {
      this.menuOpen = true
      lock(this.menuOverlay)
      this.render()
    }

    closeBtnHandler() {
      this.menuOpen = false
      unlock(this.menuOverlay)
      this.render()
    }

    findBtnHandler() {}

    render() {
      this.menuOverlay.style = this.menuOpen
        ? 'display:block;'
        : 'display:none;'
    }

    connectedCallback() {
      // Listen for custom event triggered by find-module button.
      document.addEventListener('clicked-find-license', this.closeBtnHandler)
      this.openBtn.addEventListener('click', this.openBtnHandler)
      this.closeBtn.addEventListener('click', this.closeBtnHandler)
      this.render()
    }

    disconnectedCallback() {
      document.removeEventListener('clicked-find-license', this.closeBtnHandler)
      this.openBtn.removeEventListener('click', this.openBtnHandler)
      this.closeBtn.removeEventListener('click', this.closeBtnHandler)
    }
  }

  customElements.define('mobile-menu', MobileMenu)
</script>
