* {
  margin: 0;
  padding: 0;
}

/* Variables */

:root {
  --color-primary: #462921; /* "ground" */
  --color-white: #FDF6EC; /* "soft white" */
  --color-grey: #eee; /* "light grey" */
  --color-black: #1A1A1A; /* "off black" */
  --color-orange: #D44F2C; /* "terracotta" */
  --color-orange-darker: #C33E1B; /* "terracotta darker" */
  --color-green: #BFD4CB; /* "quiet green" */

  /* Setting 62.5%, makes it easier to
  set rem units (which are relative to the
  root font-size). This let's us convert 14px = 1.4rem.
  See also: https://snook.ca/archives/html_and_css/font-size-with-rem
  */
  --font-size-base: 62.5%;
  --font-size-regular: 1.6rem;
  --font-size-xlarge: 2.6rem;
  --font-size-large: 2.2rem;
  --font-size-medium: 1.8rem;
  --font-size-small: 1.2rem;

  --font-weight-regular: 400;
  --font-weight-heavy: 700;
}

/* Semantic Elements */

html {
  height: 100%;
  font-size: var(--font-size-base);
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  font-family: "source-sans-pro", sans-serif;
  font-synthesis: none;
  min-height: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border-top: 8rem solid var(--color-orange);
}

header,
footer,
section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 60rem;
  padding: 1.5rem;
}

header {
  margin-top: -8rem;
  background-color: var(--color-orange);
  color: var(--color-white);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  color: var(--color-white);
  font-weight: var(--font-weight-heavy);
  text-decoration: none;
}

header h1 {
  flex: 1 0 auto;
  margin-right: 2.4rem;
}

header nav {
  flex: 1 1 auto;
}

nav a:focus,
nav a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  gap: 0.8rem;
}

nav li {
  margin: 0rem 0.5rem;
  font-size: var(--font-size-regular);
}

nav ol {
  list-style-type: none;
  text-align: left;
  margin: 0rem;
}

nav ol li {
  margin: 0rem .1rem;
  padding: 0rem;
  font-size: var(--font-size-small);
  color: var(--font-color-orange);
  float: left;
}

nav ol li a {
  text-decoration: none;
}

nav li:first-child {
  margin-left: 0rem;
  display: inline;
}

h1 {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-heavy);
  line-height: 3rem;
  margin: 1rem 0;
  text-align: left;
  display: block;
  float: left;
}

h2 {
  color: var(--color-orange);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-heavy);
}

* + h2 {
  margin-top: 2rem;
}

h3 {
  color: var(--color-black);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-heavy);
  margin-bottom: 1rem;
}

h4 {
  color: var(--color-black);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-heavy);
  margin-bottom: 1rem;
}

p {
  margin: 1.5rem 0;
}

a {
  color: var(--color-orange);
  font-weight: var(--font-weight-regular);
  text-decoration: underline;
}

ul,
ol {
  list-style-position: outside;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

li {
  margin-bottom: .375rem;
}

aside {
  border: 3px solid var(--color-orange);
  padding: 1rem;
  margin: 1rem 0rem;
}

article {
  margin: 1rem 0rem;
}

footer {
  font-size: var(--font-size-small);
  border-top: 1px solid var(--color-orange);
  padding-top: 0;
}

blockquote {
  border-left: .25rem solid var(--color-green);
  padding-left: 1.25rem;
}

nav .breadcrumbs {
  width: auto;
  margin-top: 2rem;
  text-align: left;
  padding: 1.5rem;
}

pre {
  padding-left: 1.5rem;
  overflow-x: scroll;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  font-size: inherit;
  font-weight: var(--font-weight-heavy);
  padding: 0 1.5rem .75rem 0;
  text-align: left;
}

td,
th {
  vertical-align: initial;
  white-space: nowrap;
}

strong {
  font-weight: var(--font-weight-heavy);
}

code,
kbd {
  letter-spacing: .0625rem;
}

cite {
  font-style: italic;
}

cite::before {
  content: "— ";
}

abbr {
  text-decoration: none;
}

/* Named Classes */

.data-list {
  list-style: none;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -moz-column-fill: balance;
  -ms-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  margin-left: 0;
}

.data-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  height: var(--font-size-regular);
  width: var(--font-size-regular);
  margin-right: .125rem;
  padding: .25rem .25rem .25rem .375rem;
}

.icon a {
  text-decoration: none !important;
}

.icon-large {
  height: var(--font-size-medium);
  width: var(--font-size-medium);
}

.link-target {
  /* padding-top: 120px;
  margin-top: -120px; */
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.fill-black svg {
  fill: var(--color-black);
}

.fill-orange svg {
  fill: var(--color-orange);
}

.formats {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-heavy);
  letter-spacing: .125rem;
  line-height: .625rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.formats > * {
  display: inline-block;
}

.module-body {
  padding: 1.5rem;
  background-color: var(--color-grey);
}

.module-help {
  padding: 1.5rem;
  background-color: var(--color-green);
}

.no-bullet {
  list-style-type: none;
  margin: 1rem;
}

/* Responsive layout */

@media (min-width: 640px) {
  nav ul {
    justify-content: end;
  }

  header nav {
    text-align: right;
  }

  .data-list {
    -moz-column-count: 2;
    -ms-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
