<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}: {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="https://firstdonoharm.dev/images/logo.png">
    <meta property="og:title" content="{{ .Site.Title }}: {{ .Params.Title }}">
    <meta property="og:description" content="{{ .Params.Summary}}">

    <meta property="og:title" content="The Hippocratic License 3.0: An Ethical License for Open Source.">
    <meta property="og:url" content="https://firstdonoharm.dev">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180.png">
    {{ $fonts := resources.Get "sass/fonts.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $fonts.RelPermalink }}">
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ range .Params.polyfills }}
      <script src="{{ . }}"></script>
    {{ end }}
  </head>

  <body{{ with .Section }} id="{{ . }}"{{ end }}>

    <header class="site-header">
      <div class="site-header__content site-wrapper{{ if .Params.wideLayout }} site-wrapper--wide{{ end }}">
        {{ partial "header"}}
        {{ partial "navigation" . }}
      </div>
    </header>

    <div class="site-wrapper{{ if .Params.wideLayout }} site-wrapper--wide{{ end }}">
      {{ partial "breadcrumbs" . }}

      {{ if .Params.webComponents }}
        {{/* 
          If the page has specified one or more web components to load 
          we include them and wrap the page with code to prevent
          showing content unless all components are finished loading
          */}}
        {{ range .Params.webComponents }}
          {{ $path := printf "web-components/%s" . }}
          {{ partial $path . }}
        {{ end }}
        {{ partial "web-components/verify-custom-elements" . }}
        <verify-custom-elements check-for='{{ delimit .Params.webComponents "," }}'>
          <noscript><p>JavaScript needs to be enabled to view this page.</p></noscript>
          <div style="display: none;">
            {{ block "main" . }}{{ end }}    
          </div>
        </verify-custom-elements>
      {{ else }}
        {{ block "main" . }}{{ end }}
      {{ end }}
    </div>

    <div class="site-wrapper{{ if .Params.wideLayout }} site-wrapper--wide{{ end }}">
      <footer class="footer">
        {{ partial "footer" }}
      </footer>
    </div>
  </body>
</html>
