<section class="license-builder">
  <h2 class="license-builder__title">License builder</h2>
  <h3>Available modules (scrollable list)</h3>
  <div class="license-builder__modules">
    <module-list></module-list>
  </div>
  <p class="license-builder__module-buttons">
    <module-button type="remove-all"> Clear selection </module-button>
    <module-button type="add-all"> Enable all modules </module-button>
  </p>
  <h3>Start using your license</h3>
  <p>
    License text:
    <configured-license-link type="html">HTML</configured-license-link>,
    <configured-license-link type="markdown">Markdown</configured-license-link>
    and
    <configured-license-link type="plaintext">plaintext</configured-license-link
    >.
  </p>
</section>
